/* .containerCard {
    display: flex;
    margin-top: 15%;
}

.details {
    width: 100%;
    max-height: 300px;
    max-width: 450px;
    border-radius: 10px;
    padding: 35px;
    position: relative;
  }

  .imgPokemon {
    max-height: 300px;
    margin-right: 15%;
  }

  .infoDetails__number {
    font-weight: 700;
    font-size: 1rem;
    line-height: 16px;
    color: rgba(23, 23, 27, 0.6);
  }

  .infoDetails__name {
    font-weight: 700;
    font-size: 3rem;
    line-height: 34px;
    color: #ffffff;
    margin-top: 3%;
    margin-bottom: 8%;
} */
